mat-drawer-container{
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

// mat-drawer-container{
//     display: flex; 
//     flex: 1 1 auto; 
//     flex-direction: column;
// }